<div class="container my-5">
    <h1 class="text-center mb-4 text-primary">🎥 Film Regisztráció</h1>
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Filmek Listája</h4>
            <button (click)="newReg()" class="btn btn-light text-primary fw-bold">
                Új Film Hozzáadása &#10010;
            </button>
        </div>
        <div class="card-body p-4">
            <table class="table table-hover table-bordered table-striped align-middle">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Szerkesztés / Törlés</th>
                        <th>Film címe</th>
                        <th>Film rendezője</th>
                        <th>Film értékelése</th>
                        <th>Film megjelenése</th>
                    </tr>
                </thead>
                <tbody>
                    @for (m of movies; track $index) {
                        <tr>
                            <td class="text-center">
                                <span (click)="modifyReg(m)" style="color: orange; font-size: 25px; cursor: pointer;">&#9998;</span>
                                <span style="cursor: default;">-</span>
                                <span (click)="deleteReg(m)" style="color: red; font-size: 25px; cursor: pointer;">&#10008;</span>
                            </td>
                            <td class="fw-bold text-primary">{{m.title}}</td>
                            <td class="text-secondary">{{m.director}}</td>
                            <td>
                                <span class="badge bg-success text-white text-center">{{m.rating}}/10</span>
                            </td>
                            <td class="text-muted">{{m.release_year}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-registration [model]="modify" (saved)="saveModify($event)"></app-registration>
<app-registration [model]="new" (saved)="saveNew($event)"></app-registration>
